apiVersion: karpenter.sh/v1
kind: NodePool
metadata:
  name: ${name}
  labels:
    node-group-type: ${node_group}
spec:
  weight: 1
  template:
    metadata:
      labels:
        node-group-type: ${node_group}
    spec:
      expireAfter: 720h
      terminationGracePeriod: 5m
      nodeClassRef:
        group: karpenter.k8s.aws
        kind: EC2NodeClass
        name: ${nodeclass_name}
      requirements:
        - key: node.kubernetes.io/instance-type
          operator: In
          values:
            - "t3.medium"  # 2 vCPU, 4 GiB - overflow only
        - key: kubernetes.io/arch
          operator: In
          values: ["amd64"]
        - key: kubernetes.io/os
          operator: In
          values: ["linux"]
        - key: karpenter.sh/capacity-type
          operator: In
          values: ["spot"]
        - key: topology.kubernetes.io/zone
          operator: In
          values: ["ap-northeast-2c"]
  limits:
    cpu: "2"
  disruption:
    consolidationPolicy: WhenEmptyOrUnderutilized
    consolidateAfter: 10m
